table {
    background-color: darkgray;
    border: 1px solid gainsboro;
}

td {
    min-width: 1rem;
    max-width: 20rem;
    border: .2px solid gainsboro;
}

.index-item {
    font-size: large;
    font-weight: 500;
}

.tb-header {
    font-weight: 700;
}

.id-column {
    width: 3rem;
}
/* 
.name-column {
    width: 10rem;
} */