/* .variable-limit-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5.5vh;
    right: 1vw;
    opacity: .01;
}

.variable-limit-wrapper:hover {
    background-color: #B1A6A4;
    opacity: 1;
}

.variable-limit {
    display: flex;
    margin-left: 1vw;
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.variable-limit label {
    width: 1.5vw;
}

.variable-limit input {
    margin-right: 1vw;
    width: 5vw;
} */

.filter-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 3.5vh;
    width: 15vw;
    left: 0vw;
}

.filter-wrapper .filter-controls {
    background-color: #404563;
    opacity: 1;
}

.filter-wrapper button {
    background-color: #404563;
    height: 3vh;
    border: 0;
}

.filter {
    display: flex;
    margin-left: 1vw;
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.filter label, .filter-wrapper label {
    color: #b4b4b4;
    text-align: right;
    width: 40%;
}

.filter label:hover {
    color: white;
}

.filter label::after {
    content: ":";
}

.filter input {
    margin-left: 1vw;
    margin-right: 1vw;
    width: 60%;
}