header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #B1A6A4;
    height: 5vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

.app-name {
    font-weight: 900;
    font-size:x-large;
}